
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
}
#wraper{
    display: flex;
}
#sidebar{
    width: 250px;
    height: 100vh;
    background-color: #1a2226;
    color: white;
}
#contentAdmin{
    width: calc(100vw - 250px);
    height: 100vh;
}
.sidebar-group-head{
    display: flex;
    align-items: center;
    padding: 10px;
}
.img-sb{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.img-sidebar{
    float: left;
    width: 45px;
    height: 45px;
}
.name p{
    margin: 0px;
}
.name a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.name i{
    font-size: 10px;
    color: green;
}
.name{
    padding-left: 10px;
    float: left;
}
.title-sidebar{
    background-color: #1A1919;
    width: 230px;
    height: 37px;
    font-size: 12px;
    color: #4b646f;
    align-items: center;
    display: flex;
    padding-left: 15px;
    padding-right: 5px;
}
#content-header{
    width: calc(100vw - 250px);
    height: 50px;
    background-color: #0068ff;

}
#content-main{
    height: calc(100vh - 50px);
    width: calc(100vw - 250px);
    background-color: #d2d6de;;
}
#header-left{
    height: 100%;
    float: left;
    font-size: 19px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}
#header-left:hover{
    background-color: #4E3EFF;
}
#header-left i{
    margin: 0px;
}
#header-right{
    float: right;
    height: 100%;    
    background-color: #0068ff;
    margin: 0px;


}
#header-right ul{
    display: flex;
    list-style: none;
    padding: 0px;
    font-size: 19px;
    margin: 0px;
    color: white;
}
#header-right ul li{
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;

}
#header-right ul li:hover{
    background-color: #4E3EFF;
}
.icon{
    width: 30px;
    padding-left: 15px;
    padding-right: 3px;
}

.name-header{
    padding-left: 20px;
    padding-right: 20px;
}
.name-header span{
    padding-left: 10px;
}
.label{
    position: absolute;
    top: 6px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    margin-right: 2px;
    line-height: .9;  
    background-color: red;
    padding: 3px;
    border-radius: 3px;
}
#header-right ul li a{
    display: flex;
    text-decoration: none;
    color: white;
}
.img-side{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
#title-form{
    height: 41px;
    background-color: #4E3EFF;
    text-align: center;
    font-size: 25px;
    padding-top: 9px;
    
}
.sidebar-item{
    width: 230px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 0px;
    cursor: pointer;
}

.sidebar-item a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.i-l{
    float: left;
    margin-right: 10px;
}
.i-r{
    float: right;
    font-size: 25px;
}
.more{
    padding-left: 25px;
    width: 220px; 
    display: none;
}
.more span{
    padding-left: 10px;
}
#content-main header{
    display: inline-block;
    height: 50px;
    width: calc(100vw - 270px);
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
#head-main-right{
    float: right;
}
#head-main-left{
    float: left;
    font-size: 25px;    
}
#content-dash{
    width:calc(100vw- 250px);    
}
[class*="col-"] {
    width: 100%;
  }
  [class*="col-"] {
    float: left;
  }
@media screen and (min-width:600px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: calc(25% - 20px);}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: calc(50% - 20px);}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media screen and (min-width:780px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: calc(25% - 20px);}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
}
.content-item{
    height: 130px;
    background-color: red;
    margin: 10px;
    color: #fff;
}
.small-box-footer{

    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;

    background: rgba(0,0,0,0.1);
    text-decoration: none;
}
.inner h3{
    margin: 0;
    font-size: 34px;
    padding-top: 10px;
    
}
.inner{
    padding-left: 15px;
}
.action{
    height: 45px;
    width: 2px;
    background-color: lawngreen; 
    margin-right: 15px;
}
.remove{
    height: 45px;
    width: 2px;
    background-color: #1A1919; 
    margin-right: 15px;
}
.action1{
    display: block;
}
.action2{
    color: blue;
}
.box-primary{
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    border-top: 5px solid red;
    border-radius: 5px;
}
.form-group{
    display: block;
    margin-bottom: 15px;
}
.box-body{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.form-group label{
    display: block;
    font-size: 15px;
    font-weight: 600;
}
.form-group input{
    width:calc( 100% - 10px);
    height: 34px;
    border: 1px solid #d2d6de;
    border-radius: 3px;
}
.form-group input:focus{
    outline: none;
    border: 1px solid #39CCCC;
}
.form-group select:focus{
    outline: none;
    border: 1px solid #39CCCC;
}
.form-group1-header{
    display: block;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
}
input[type=radio]:checked ~ .label1 {

}
.label1{
    margin-right: 10px;
    cursor: pointer;
}
.form-group1{
    margin-bottom: 15px;
}
.box-footer{
    height: 40px;
    text-align: center;
}
.box-footer button{
    width: 100px;
    height: 35px;
    background-color: red;
    border: 0;
    border-radius: 5px;
    color: #fff;
}
.form-group-img label{
    display: flex;
    margin-bottom: 10px;
}
.form-group-img{
    margin-bottom: 10px;
}
.form-group-img input{
    margin-bottom: 10px;
}
.box-primary-right{
    border-top: 5px solid blue;
}
#table-user{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
}
.show-user-content{

    margin: 0px 15px;
}
.show-user-content thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-top:1px solid #ddd ;
    border-bottom:2px solid #ddd ;
}
.show-user-content thead tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
   
}
.show-user-content thead tr th,td{
    height: 30px;
    text-align: left;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 5px;  
}
.show-user-content tbody{
    border-bottom: 1px solid #ddd;
    
}
.show-user-content tbody tr{
    border-top: 1px solid #ddd;
}
.dataTables_paginate{
    margin: 0;
    white-space: nowrap;
   text-align: right;

}
.pagination{
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    margin: 2px 0;
    white-space: nowrap;
    
}
.pagination li{
    display: inline;
}  
.pagination li a{
    text-decoration: none;
    background: #fafafa;
    color: #666;
    padding: 6px 12px;
    border: 1px solid #ddd;
    position: relative;
    float: left;
    line-height: 1.42857143;
}
.table-footer{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.pagination .active-footer a{
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
    cursor: default;
}
.pagination .paginate_button a:focus{
    outline: none;

}
.btn a{
    text-decoration: none;
    color: white;
}
.btn{
    height: 30px;
    width: 60px;  

}
.button1{
    background-color: #3399FF;
}
.button2{
    background-color: red;
}