*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Segoe UI", "SegoeuiPc", "San Francisco", "Helvetica Neue",
    "Helvetica", "Lucida Grande", "Roboto", "Ubuntu", "Tahoma",
    Microsoft Sans Serif, Tahoma, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: left;
  margin: 0px;
}
#navigation {
  width: 70px;
  float: left;
  background-color: #0cb3ff;
  height: 100%;
}

#content {
  display: flex;
}
div {
  display: block;
}
#content .sidebar-group {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: white;
  width: 330px;
  border: 0.5px solid #e1dfdf;
  height: 100vh;
}
.sidebar-group-1 {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: white;
  width: 330px;
  border: 0.5px solid #e1dfdf;
  height: 100vh;
}
.sidebar-body {
  overflow: visible;
  height: 84vh;
}
.sidebar-body-fr {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 45vh;
}
#wait {
  align-items: center;
  display: inline-block;
  width: 100%;
  height: 60px;
  font-size: 21px;
}
.sidebar-group ul {
  list-style: none;
}
.virtualized-scroll {
  position: relative;
  overflow-x: hidden;
  outline: none;
}

figure.avatar > a > img,
figure.avatar > img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
}
.rounded-circle {
  border-radius: 50% !important;
  width: 55px;
  height: 55px;
}
figure.avatar {
  display: inline-block;
}
.head {
  padding: 0px;
  height: 86px;
  border-bottom: 2px solid #e1dfdf;
}
.head span {
  font-size: 20px;
  margin-left: 20px;
}
.head form input {
  height: 28px;
  border-radius: 20px;
}
.form-control {
  border: none;
  border-radius: 3px;
  width: 290px;
  height: 41px;
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #cdcdcd;
}
.list-group-item {
  align-items: center;
  border-bottom: solid 1px;
}
.new-message-count {
  width: 10px;
  color: red;
}
.users-list-body h5,
p {
  margin: 5px;
}
.imgicon {
  float: left;
}
.list-group-item {
  cursor: pointer;
  display: flex;
  position: relative;
  border-color: #ebebeb;
}
.list-group-item {
  margin-bottom: -1px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 20px;
  cursor: pointer;
}
li.list-group-item {
  width: 330px;
  height: 81.29px;
}
li {
  list-style: none;
  display: list-item;
}
#navigation .nav-group {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  /*background-color: rgba(0, 149, 255, 0.6); */
  height: 100vh;
  background-image: linear-gradient(#0cb3ff, #0068ff);
}
li.notifiy-badge {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

#navigation .nav-group .menu {
  display: flex;
  text-align: center;

  color: white;
  position: relative;

  width: 70px;
  height: 60px;
  cursor: pointer;
  align-items: center;
  font-size: 30px;
  padding-left: 21px;
}
#navigation .nav-group .menuimg {
  margin-bottom: 20px;
}
ul {
  list-style-type: disc;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  align-items: center;
}
#menu-top {
  height: 83vh;
}

[class*=" ti-"],
[class^="ti-"] {
  font-family: themify;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navigation .nav-group ul li a i {
  margin: 0px;
  font-size: 19px;
}
.activemenu {
  background-color: rgba(0, 71, 255, 0.6);
}
#navigation .nav-group ul li a {
  display: block;
  text-align: center;
  padding: 15px 0;
  color: #828282;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.imgicon {
  margin-left: 14.5px;
}
.list-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  margin-bottom: 0px;
}
dl,
ol,
ul {
  margin-top: 0px;
  margin-bottom: 1rem;
}

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.list-group-flush .list-group-item:last-child {
  margin-bottom: -1px;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 0;
}

.list-group-flush:last-child .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.anh {
  width: 56px;
  height: 40.19px;
}
#content .sidebar-group .sidebar .list-group-item.open-chat:before {
  opacity: 1;
}

#content .sidebar-group .sidebar .list-group-item.open-chat .users-list-body p {
  font-weight: 600;
  color: #646464;
}
#content .sidebar-group .sidebar .list-group-item.open-chat:before {
  left: auto;
  right: 0;
}
.list-group-flush :hover {
  background-color: #d2d2d2;
}
#chat {
  width: 100%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex: 1;
  color: #6d7379;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  background-color: #e1dfdf;
  min-height: 100%;

  contain: layout style;
}
#slide-show {
  width: 60%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex: 1;
  color: #6d7379;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
#slide-show-us {
  width: 60%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex: 1;
  color: #6d7379;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.show-page-text {
  text-align: center;
  color: #222222;
  padding: 0 30px;
  justify-content: center;
}
.show-page-text-fr {
  text-align: center;
  color: #222222;
  padding: 0 30px;
  justify-content: center;
}
.show-page-text-title {
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0 10px;
  color: #0068ff;
  width: 100%;
}
.show-page-text-subtitle {
  font-size: 14px;
}
.truct2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  word-break: break-word;
}
.truct5 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  word-break: break-word;
}
.image-chat {
  width: 380px;
  height: 228px;
}
.slide-show-button {
  text-align: center;
  padding-top: 90vh;
  
}
.selected {
  background-color: royalblue !important;
}
.btn1:hover {
  background-color: tomato !important;
  cursor: pointer;
}

#slide-show .btn1 {
  background: #b2b2b2;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 100%;
}
#slide-show-us .btn2 {
  background: #b2b2b2;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 100%;
}
.size {
  font-size: 25px;
  position: absolute;
  margin-top: 50vh;
  padding-left: 50px;
  cursor: pointer;
}
.next {
  margin-left: 100px;
  padding-left: calc(100vw - 570px);
}
.size:hover {
  color: royalblue;
  cursor: pointer;
}
.rounded-circle-chat {
  border-radius: 50% !important;
  width: 64px;
  height: 64px;
}
#chat-header {
  display: flex;
  height: 86px;
  align-items: center;
  padding-bottom: 30px;
  width: 100%;
  border: 1px solid #e1dfdf;
  background-color: white;
  border: 0.1px solid #e1dfdf;
}
.chat-header-user {
  align-items: center;
  display: flex;
  -webkit-box-align: center;
}

.chat-header-action {
  width: 100%;
}
.chat-header-action .list-inline-item {
  float: right;
  padding-top: 25px;
  padding-right: 20px;
}
#chat .chat-header .chat-header-action ul {
  margin-bottom: 0;
}
#chat .chat-header .chat-header-action ul > li > a {
  font-size: 16px;
}
#chat-header .chat-header-action .list-inline-item {
  margin-right: 0.5rem !important;
  margin-left: 0 !important;
  display: flex;
}
#chat-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 2px 2px solid #646464;
}
#messages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#messages .message-item.outgoing-message {
  margin-left: auto;
}
#messages .message-item {
  max-width: 60%;
  margin-bottom: 15px;
}
#messages .message-item.outgoing-message .message-content {
  background-color: #cdcdcd;
  margin-left: auto;
}
#messages .message-item .message-content {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 0px 10px;
  word-wrap: break-word;
  max-width: 600px;
}
#messages .message-item.outgoing-message .message-action {
  float: right;
  margin-right: 10px;
}

#messages .message-item .message-action {
  color: #828282;
  margin-top: 5px;
  font-style: italic;
  font-size: 12px;
}
.message-left {
  margin-right: auto;
}
#messages .message-item .message-action .ti-double-check:after {
  margin-left: -4px;
}

#messages .message-item.outgoing-message {
  margin-left: auto;
  float: right;
  margin-top: 5px;
}
#chat-content {
  height: 100%;
  height: calc(100vh - 177px);
  overflow-y: scroll;
  width: 100%;
}
#chat-content::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
#chat-content::-webkit-scrollbar-thumb {
  background-color: #b4b2b2;
}
.message-content {
  background-color: #cdcdcd;
  align-items: center;
}

.message-action {
  text-align: right;
  align-items: center;
  float: right;
}
#chat-footer {
  width: 100%;
  height: 91px;

  float: left;
  background-color: #f0eeee;
  border: 0.1px solid #e1dfdf;
}
#chat-footer .btn-chat {
  float: right;
}
.chat-f-head {
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  background-color: white;
  border-bottom: 1px solid #a9a9a9;
}
.chat-f-head i {
  width: 36px;
  height: 35px;
  font-size: 36px;
  cursor: pointer;
}
.chat-f-head i:hover {
  color: blue;
}
form {
  width: 100%;
  height: 55px;
  align-items: center;
  display: flex;
  padding: 10px;

  background-color: #fff;
  -webkit-box-align: center;
}
#input-file {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#form-coltrol-chat {
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  background-color: #f0eeee;
}
#form-coltrol-chat:focus {
  outline: none;
}
#chat-footer form input[type="text"] {
  border: none;
}
.users-list-body {
  width: 220px;
}

.btn-chat {
  justify-content: center;
  width: 34px;
  height: 34px;
  border: none;
  padding: 0px;
  align-items: center;
  margin-left: 10px;
  background-color: white;
  border-radius: 50%;
}
.img-chat {
  width: 60%;
  height: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

#sidebar-group-chat header {
  height: 86px;
  border-bottom: 2px solid #e1dfdf;
  text-align: center;
  padding-top: 26px;
  font-size: 20px;
  color: #4c4b4b;
}
#sidebar-group-chat {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#sidebar-group-chat::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
#sidebar-group-chat::-webkit-scrollbar-thumb {
  background-color: #b4b2b2;
}

#sidebar-group-chat1 header {
  height: 86px;
  border-bottom: 2px solid #e1dfdf;
  text-align: center;
  padding-top: 26px;
  font-size: 20px;
  color: #4c4b4b;
}
#out-side {
}

#out {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  text-align: right;
}
#out-side-res {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
}
#sidebar-group-chat1 {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px;

  margin-right: 10px;
  margin-top: 50px;
  z-index: 4;
  position: fixed;
  margin-left: calc(100vw - 338px);
}
#sidebar-group-chat1::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
#sidebar-group-chat1::-webkit-scrollbar-thumb {
  background-color: #b4b2b2;
}
#imgavatar {
  float: 1;
  width: 100%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#imgavatar1 {
  float: 1;
  width: 100%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.show-page-text-more {
  text-align: center;
  color: #222222;
  padding: 0 30px;
  justify-content: center;
}
.image-more-chat {
  border-radius: 50%;
}
._1liz {
  padding: 0px;
}
._1lizz {
  padding: 0px;
}
._1lizmain {
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  font-size: 14px;
  font-weight: normal;
  justify-content: space-between;
  padding: 6px 16px;
}
._1lizmain._1lizp {
  color: rgba(0, 0, 0, 0.34);
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
._1lizmain._1lizp:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
h4 {
  margin: 0px;
}
._3szo {
  display: flex;
  align-items: center;
  padding: 0px 16px;
  padding-bottom: 16px;
  cursor: pointer;
}
.sp {
  margin-top: 5px;
}

#find-user {
  background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
}
.ic-f {
  width: 30px;
  height: 30px;
  margin: 5px;
  font-size: 22px;
  padding-left: 8px;
  cursor: pointer;
}
.list-group-item-wait {
  display: flex;
  padding-left: 10px;
  margin-bottom: 15px;  
}
.users-list-body-wait {
  float: right;
}
.users-list-body-wait h5 {
  margin: 0px;
}
.users-list-body-wait p {
  margin: 0px;
  font-size: 12px;
  color: #a4a4a4;
}
#edit {
  background-color: #868686;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
}
#edit-name {
  width: 350px;
  height: 160px;

  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  background-color: white;
}
#edit-name h2 {
  display: flex;
  align-items: center;
  margin: 0px;
}
.edit-name-right a {
  display: flex;
  align-items: center;
  color: black;
  margin: 10px 0px;
}
#edit-name h2 div {
  height: 50px;
  align-items: center;
  display: flex;
  padding-left: 45px;
}
.img-edit {
  width: 60px;
  height: 45px;
  padding: 6px 12px 6px 16px;
}
.img-edit-in .img-ed {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.name-edit {
  width: 100%;
  height: 50%;
  font-size: 18px;
}
#layout {
}
#smenu {
  border-radius: 5px;
  width: 120px;
  
  position: absolute;
  background-color: white;
  z-index: 10000;
  margin-top: -95px;
  box-shadow: 0.1px 0.1px 2px 2px;
}
.smenu-line {
  border: 1px solid #a6a6a6;
  margin-top: 6px;
  margin-bottom: 6px;
}
.smenu-item {
  font-size: 13px;
  padding: 0px 10px 0px 14px;
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.smenu-item:hover {
  background-color: #d7d6d6;
}
#smenu-in {
  margin: 6px 0px;
}
#introduce {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 0px;
  left: 0px;
  overflow: hidden;
}
#introduce-in {
  width: 443px;
  height: 276px;
  background-color: white;
  position: absolute;
  margin-left: -190px;
  margin-top: -190px;
  z-index: 3;
}
.introduce-header {
  display: flex;
  align-items: center;
  background-color: #0068ff;
  width: 100%;
  height: 91px;
}
.img-introduce {
  margin-left: 224.69px;
}
.img-introduce,
#introduce-in img {
  width: 91px;
  height: 91px;
}
.introduce-content {
  padding: 35px 0px 0px 16px;
}
.name-header {
  font-size: 24px;
  color: white;
  padding-left: 16px;
}
.introduce-content {
  display: flex;
  align-items: center;
}
.itr-ct-left {
  width: 200px;
  height: 105px;
}
.itr-ct-right {
  width: 210px;
  height: 105px;
}
#click-out {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
#editer {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.edit-us-in {
  position: absolute;
  background-color: white;
  width: 400px;
  height: 220px;
  padding: 24px;
  left: 50vw;
  top: 50vh;
  margin-top: -190px;
  margin-left: -200px;
  z-index: 3;
}
.ip-edit {
  display: flex;
  align-items: center;
}
.btn-edit {
  display: flex;
  align-items: center;
}
.btn-edit button {
  border: 0px;
  background-color: white;
  font-size: 18px;
  color: #0084ff;
  margin: 0px 12px;
  cursor: pointer;
}
#editer-out {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

#responsive-menu {
}

.edit-name-right:hover {
  background-color: #e0dfdf;
}
@media screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: calc(50% - 20px);
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media screen and (min-width: 780px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media screen and (min-width: 920px) {
  .col-l-4 {
    width: 33.33%;
  }
  .col-l-8 {
    width: 66.66%;
  }
}

@media screen and (max-width: 500px) {
  #chat,
  #responsive-menu {
    display: block;
  }
  #chats,
  .sidebar-group,
  #friend,
  #favourite,
  #navigation,
  #slide-show {
    display: none;
  }
  .fa-angle-left {
    left: 120px;
  }
}

.img-info-friend {
  display: flex;
  padding: 0px 12px;
  flex-wrap: wrap;
}
.img-info-friend a {
  border-right: 2px solid #fff;
}
#friend {
}

#favourite {
}

#chats {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: white;
  width: 330px;
  border: 0.5px solid #e1dfdf;
  height: 100vh;
}
._3m31 {
  margin-left: 12;
  background-size: cover;
  box-sizing: border-box;
  margin-bottom: 3px;

  margin-left: 10px;
}
._3m31 img {
  width: 100%;
  height: 100px;
}
#responsive-menu {
  height: 100vh;
  width: 78px;
  overflow-y: auto;
  background-color: white;
  float: left;
}
#responsive-menu header {
  height: 85.99px;
  width: 78px;
  background-color: white;
}
#responsive-menu-top {
  height: calc(92vh - 85.99px);
  width: 78px;
  background-color: rgba(0, 71, 255, 0.6);
}
#responsive-menu-bottom {
  height: 8vh;
  width: 78px;
  background-color: white;
}
.img-responsive {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.user-responsive {
  width: 76px;
  height: 76px;
  text-align: center;
  padding-top: 12.5px;
}
#responsive-friend {
  height: 85%;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}
#responsive-friend::-webkit-scrollbar {
  width: 0.1px;
  background-color: #f5f5f5;
}
#responsive-friend::-webkit-scrollbar-thumb {
  background-color: #b4b2b2;
}
#responsive-model {
  height: 15%;
  align-items: center;
  display: flex;
  background-color: white;
}
#responsive-model-add {
  width: 55px;
  height: 55px;
  font-size: 35px;
  background-color: #0068ff;
  border-radius: 50%;
  color: white;
  margin-left: 11.5px;
}
#responsive-model-add i {
  margin-left: 9px;
  margin-top: 10px;
}
#menu-bottom1 .menu {
  width: 100%;
  height: 100%;
  font-size: 30px;
  padding-left: 20px;
}
#add-friend {
  width: 100%;
  height: 100vh;
}
#add-friend header {
  height: 87px;
  width: 100%;
  background-color: white;
  border-top: 1px solid #e1dfdf;
  border-bottom: 1px solid #e1dfdf;
}
#add-head {
  display: flex;
  align-items: center;
  height: 86px;
  padding-left: 20px;
}
#add-head .img-add-head {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #0068ff;
  align-items: center;
  display: flex;
}
#add-head .img-add-head i {
  color: white;
  font-size: 32px;
  margin-left: 15px;
}
#add-head h3 {
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
}
#add-friend .content-add {
  padding-top: 20px;
  height: calc(100vh - 87px);
  padding: 0px 25px;
  background-color: #ebebeb;
}
#content-head {
  display: inline-block;
  height: 20px;
  margin-bottom: 20px;
  width: 100%;
}
#content-head-left {
  float: left;
  font-size: 19px;
  font-weight: 500;
}
#content-head-right {
  float: right;
  font-size: 17px;
  font-weight: 400;
}
#content-bottom .icon-user-a {
  margin: 7.5px;
  width: 245.5px;
  height: 254.5px;
  background-color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
#content-bottom .icon-user {
  text-align: center;
  padding-top: 9px;
  position: relative;
  margin: 0px auto;
}
#content-bottom .icon-user img {
  border-radius: 50%;
}
#content-bottom .icon-user button {
  width: 100px;
  height: 30px;
  margin-top: 15px;
  background-color: white;
  border: 1px solid #0068ff;
  color: #0068ff;
  border-radius: 3px;
}
#content-bottom .icon-user .nameUserHelp {
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin-top: 10px;
}
#content-bottom .icon-user .info {
  font-size: 14px;
  color: rgb(130, 130, 130);
}
#content-bottom .icon-user .fa-times {
  cursor: pointer;
  color: #8c95a3;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 10px;
  padding: 10px;
  font-size: 16px;
}
#content-bottom {
  display: flex;
  margin-left: 13.5%;
  height: calc(100vh - 132px);
  overflow: hidden;
  max-width: 1160px;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}
#content-bottom::-webkit-scrollbar {
  width: 0.1px;
  background-color: #f5f5f5;
}
#content-bottom::-webkit-scrollbar-thumb {
  background-color: #b4b2b2;
}

.fa-video {
  font-size: 35px;
}

#chatInfor {
  width: 100%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex: 1;
  color: #6d7379;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: flex-end;
  background-color: #e1dfdf;
  min-height: 100%;

  contain: layout style;
}

.popup-content {
  background-color: #222222;
  
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-overlay1-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
}

.ReactModal__Content{
  position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    /* background: rgb(255, 255, 255); */
    /* overflow: auto; */
    /* border-radius: 4px; */
    margin: 0px auto;
    outline: none;
    width: 350px;
    height: 160px;
    
    padding: 0px;
    margin-top: 25vh;
    
}


.container>.slide {
  padding-left: 28vw;
  position: absolute;
  
  opacity: 0;
  transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
}

.container>.slide.active {
  opacity: 1;
}

.slide-show-button>.dot {
  height: 15px;
  width: 15px;
  margin: 0 0.4rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
}


.slide-show-button>.dot.active,
.slide-show-button>.dot:hover {
  background-color: #717171;
}

.slide-show-button>.dot {
  cursor: pointer;
}

.lp-slideshow,
.lp-slideshow * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.lp-slideshow {
  width: 100%;
}

.lp-slideshow>.container {
  position: relative;
  margin: auto;
  width: 100%;
}


.outbtnAdd{
  width: 313px;
  padding: 10px;

}

.btnAdd{
  width: 100%;  
}

.btnClick{
  width: calc(50% - 10px);
  height: 35.99px;
  border: none;
  background-color: #E6E4EB;
  border-radius: 6px;
  cursor: pointer;
}

.btnConfirm{
  background-color: #1877f2;
  color: white;
  width: calc(50% - 10px);
  margin-right: 10px;
}
.NameAdd{
  padding-left: 10px;
}

.message-reciver{
  display: flex;
}

.imgUserHelp{
  width: 100px;
  height: 100px;
}
.NameFriendChat{
  color: black;
}
.FindFriendChat{
  width: 50px;
}

.faSendFind{
  font-size: 25px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  color: green;
}
.menu{
  color: white;
}

.fa-address-book, .fa-heart, .fa-envelope{
  color: white;
}

.btn-chat{
  background-color: rgb(240, 238, 238);
}
.fa-paper-plane{
  font-size: 25px;
  color: #0068ff;
}
.imgMessage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.Sidebar-Friend{
  display: flex;
    flex-direction: column;
    background-color: white;
    width: 375px;
    border: 0.5px solid #e1dfdf;
    height: 100vh;
}

#editProfile{
  width: 360px;
  height: 100%;
  margin: 0px auto;
  position: relative;
}
#editProfile{
  width: 360px;
  height: 100%;
  margin: 0px auto;
  border: solid 0.5px red;
  background-color: white;
}

.coverImage{
  width: 359px;
  height: 180px;
  position: absolute;
}
.avatarImage{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 137px 20px 0px;
}
#EditContent{
  position: relative;
  padding: 0px 37px 0px 47px;
  
}
#EditContentMain{
  position: relative;
}
#NameImages{
  text-align: center;
}
#NameEditProfile{
  margin: 3px;
  font-size: 17px;
  font-weight: 500;
  color: #001a33;
}

.labelEdit{
  margin: 10px 20px 10px 0;
  display: block;
  color: #222;
  width: 92px;
  font-size: 14px;
}
.inputEdit{
  height: 31px;
  border: 1px solid #ddd;
  color: #bdbdbd;
  font-size: 14px;
  padding: 6px 13px;
  margin-top: 9px;
  margin-bottom: 12px;
  width: 276px;
}
#FooterContent{
  border-top: 1px solid #eeeff3;
  padding: 12px 10px 12px 12px;
}
.z__btn{
  height: 38px;
  min-width: 38px;
  padding: 0 16px;
  line-height: normal;
  font-weight: 600;
  text-align: left;
  font-size: 15px;
  letter-spacing: normal;
  line-height: 38px;
  background: #e8eaef;
  border: 1px solid #e8eaef;
}

.Z__update{
  background: #0068ff;
  border: 1px solid #0068ff;
  color: white;
  float: right;
}
.editProfile-in header{
  padding: 0 8px 0 16px;
  display: flex;
  position: relative;
  height: 48px;
  justify-content: left;
  border-bottom: 1px solid #e8eaef;
  align-items: center;
}
.incomingCallContainer{
  
    /* height: 100%; */
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%,-50%);
    transition: display .2s cubic-bezier(.4,0,.2,1);
    z-index: 1;
}
.incomingCall{
  height: auto;
  width: max-content;
  background-color: #fff;
  border-radius: calc(var(--rounded-radius)*2);
  position: absolute;
  box-shadow: var(--lift-shadow);
  padding: var(--site-margin);
  justify-content: space-between;
  animation: callAnimation 2s infinite ease-in-out;
  text-align: center;
  width: 600px;
  font-size: 25px;
  top: calc(50vh - 60px);
  left: calc(50vw - 300px);
  height: 120px;
  z-index: 2;
}
.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}
.callerID{
  line-height: 1.35;
  font-weight: var(--font-weight-semibold);
  letter-spacing: -0.0075em;
}
.incomingCallButtons{
  justify-content: space-between;
  margin-top: var(--spacing-unit);
}
#notification_out{
  z-index: 5;
  background-color: black;
  opacity: 0.5;
}
.btncallUser{
  float: right;
  width: 120px;
  height: 38px;
  border-radius: 10px;
  border: solid 0.5px white;
  margin-left: 15px;
}
.btnaccept{
  background-color: #3578E5;
  color: white;
}
.fa-video-call{
  font-size: 15px;
}