body {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),
  url(https://i.pinimg.com/originals/8f/14/57/8f14578ef69a4c53352955d1e072eda6.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}
#video, #sidebars{
position: absolute;
}
#video{
z-index: 0;
width: 100vw;
height: 100vh;
}
#sidebars{
z-index: 1;
}
#notification_out{
width: 100vw;
height: 100vh;
opacity: 0.5;
background-color: black;
position: absolute;
z-index: 0;
}
#notification{
display: flex;
  background-color: pink;
  width: 30vw;
  height: 20vh;
  position: absolute;
  z-index: 1;
  margin-left: 35vw;
  margin-top: 40vh;
}
.audioVideo{
width: 100vw;
height: calc(100vh - 5px);
}

.uservideo, .myvideo{
position: absolute;
}
.uservideo{
z-index: 0;
}
.myvideo{
z-index: 1;
width: 100vw;
height: 100vh;
display: block;
}
.myVideo{  
  width: 20vw;
  height: 20;
  /* height: 53vh; */
  float: right;
  margin-top: calc(100vh - 15.29vw);
  margin-right: 20px;
  border-radius: 15px;
}
.imgCall{
width: 150px;
height: 150px;
border-radius: 50%;
}
.nameCall{
font-size: 25px;
font-weight: 600;
margin-top: 30px;
}
.uservideoCall{
z-index: 0;
/* margin: 0px auto; */
margin-left: 0px auto;
/* margin: 0px auto; */
/* display: block; */
width: 25vw;
height: 40vh;
text-align: center;
margin-left: 37.5vw;
/* margin: auto; */
margin-top: 30vh;
color: white;
}
.nft{
position: absolute;
z-index: 2;
}
.callContainer{
width: 25vw;
  height: 40vh;
  text-align: center;
  margin-left: 37.5vw;
  /* margin: auto; */
  margin-top: 60vh;
  padding-top: 25vh;
}
.btncall{
width: 70px;
height: 40px;
margin-left: 20px;
}